<%= form_for(@league) do |f| %>
    <% if @league.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@league.errors.count, "error") %> prohibited this post from being saved:</h2>
  
        <ul>
        <% @league.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div><br>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div><br>
  <div class="field">
    <%= f.label :people_in_league %><br>
    <%= f.text_field :people_in_league %>
  </div><br>
  <div class="action">
    <%= f.submit id: "add-league", value: "Create League" %> 
  </div>

  <%= hidden_field_tag 'league[user_id]', params[:user_id] %>

 <% end %>

 <div id="productResult">
</div>




