

<h2><%= link_to "Create League", new_user_league_path(@user)%></h2>
<button value="Sort", class="js-sort">Sort</button>
<% @leagues.each do |league| %>
    <ul>
    <h1><li><%=league.name%></li></h1>
    </ul>
    <div id="body-<%= league.id %>"></div>
    <input type="submit" class="js-more" data-id="<%=league.id %>" value="More Info" </input><br>
    <%=link_to "See League Individually", user_league_path(@user, league) %>
<%end%>


<br>


<br>

<%= button_to "Log Out", logout_url, method: :destroy %><br>

<%= button_to "Most Leagues by a User", user_leagues_most_path, method: "get" %>

<div id="leagues"></div><br>

<ul id="sort">


           
