

<h2><%= link_to "Create League", new_user_league_path(@user)%></h2>
<% @leagues.each do |league| %>
    <h1><%=league.name%></h1>
    <div id="body-<%= league.id %>"></div>
    <input type="submit" class="js-more" data-id="<%=league.id %>" value="More Info" </input><br>
    <%=link_to "See League Individually", league_path(league) %></button>
<%end%>
<br>


<br>

<%= button_to "Log Out", logout_url, method: :destroy %><br>

<%= button_to "Most Leagues by a User", user_leagues_most_path, method: "get" %>

<div id="leagues"></div>

           
