<% @leagues.each do |league| %>
    <h1><%=league.name%></h1>
    <div id="body-<%= league.id %>"></div>
    <input type="submit" class="js-more" data-id="<%=league.id %>" value="More Info"</input>
     <%= button_to "View Page: #{league.name}", league_path(league), method: "get"%></p>
     <%end%>



<%= button_to "Create New League", new_user_league_path(@user), method: "get" %><br>
<br>

<%= button_to "Log Out", logout_url, method: :destroy %><br>

<%= button_to "Most Leagues by a User", user_leagues_most_path, method: "get" %>

           
