
<a href="#" class="js-next" data-id="<%=@league.id%>">Next Team</a>
<h1 class="leagueName"><%= @league.name %></h1>
<p class="leagueCost"><%= @league.cost %></p>
<p class="leaguePeopleInLeague"><%=@league.people_in_league%></p>


<p> <%= button_to "Create Your Team", new_user_league_path(@user) %><br>


<%= link_to "Edit League", edit_user_league_path(@user, @league) %><br>

<%= link_to "Build Your Team", new_team_path(@league) %><br>


<%=link_to "Go Back to League", user_leagues_path(@user) %><br>

<% if @league.teams.empty? %>
    <p>No Teams </p>
<% else %>
    <% @league.teams.each do |team| %>
        <%=link_to team.name, league_team_path(@league, team) %><br>
    <% end %>
<% end %>

<p><%=link_to "Delete League", user_league_path(@league) %><p>


