<h1>Your Team Name: <%=@league.name %></h1><br>

<p>The Cost This League: <%= @league.cost %></p><br>

<p>The Amount of People: <%= @league.people_in_league %><p><br>



<%= link_to "Edit League", edit_league_path %><br>

<%= link_to "Show Players", league_player_path(@league) %><br>

<%= link_to "Build Your Team", new_league_player_path(@league) %><br>