<h1>Your Team Name: <%=@league.name %></h1><br>

<p>This League Costs: <%= @league.cost %></p><br>

<p>The Amount of People in this League: <%= @league.people_in_league %><p><br>



<%= link_to "Edit League", edit_user_league_path(@user) %><br>

<%= link_to "Show Players", user_league_team_path(@user, @league) %><br>

<%= link_to "Build Your Team", new_user_league_team_path(@user, @league) %><br>