<h1>@league.name%></h1>

<% 14.times do %>
    <%= form_for (@player) do |f|%>
        <%= f.label :name%>
        <%= f.text_field :name %><br>

        <%= f.label :position %>
        <%= f.label :position %> <br>
 
        <%= f.label :starter %>
        <%= f.check_box :starter %><br>

        <%= f.label :fantasy_points %>
        <%= f.number_field :fantasy_points %><br>
 
        <br>


    <%end%>
        
<%end%>


      