<h1><%= @player.name %></h1><br>

<p><%= @player.position %></p><br>

<p><%= @player.starter %><p><br>

<p><%= @player.fantasy_points %><p><br>

<%= link_to "Edit League", edit_user_league_player_path %><br>
