<h1>Manage Your Fantasy Football Leagues: </h1>

<%= flash[:message] if flash[:message] %>

<p> Existing User: </p>

<%= form_for @user, url: '/signin' do |f| %>
    <%=f.label :email %>
    <%= f.text_field :email %></br>

    <%=f.label :password %>
    <%=f.password_field :password %></br>

    <%= f.submit 'Sign In' %></br>

    <%end%></br>

    <p><%=link_to('Login with Google', '/auth/google_oauth2') %><p>


    <%= link_to 'New User', new_user_path %>