
<h1><%=@team.name%></h1>

<% @team.players.each do |t| %>

    <p>Player Name: <%=t.name %></p>
    <p>Player Position: <%=t.position %></p>
    <p>Player Starts?: <%=t.starter %></p>
    <p>Player Fantasy Points: <%=t.fantasy_points %></p><br>
    <br>

<%end%>



<%=link_to "Go Back to League", user_leagues_path(@league, @team) %>