<h1>Sign Up Here!</h1>

<h2>Create Your Account</h2>
<%= form_tag users_path, method: "post" do %>

  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field<%= ' field_with_errors' if @user.errors[:name].any? %>">
    <%= label_tag "name", "Name" %>
    <%= text_field_tag "name", @user.name %>
  </div>

  <div class="field<%= ' field_with_errors' if @user.errors[:email].any? %>">
    <%= label_tag "email", "Email" %>
    <%= text_field_tag "email", @user.email %>
  </div>

  <div class="field<%= ' field_with_errors' if @user.errors[:age].any? %>">
    <%= label_tag "age", "Age" %>
    <%= number_field_tag "age", @user.age %>
  </div>

  <div class="field<%= ' field_with_errors' if @user.errors[:seriousness_level].any? %>">
  <%= label_tag "age", "Seriousness_level" %>
  <%= number_field_tag "seriousness_level", @user.seriousness_level %>
</div>

  <%= submit_tag "Create your account" %>
<% end %>